{% extends 'base.html.j2' %}
{%block css%}
 <link rel="stylesheet" href="{{url_for('static',filename='css/shop.css')}}">
{%endblock%}

{% block title %}
Welcome to The Jewelry
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1> Welcome to The Jewelry Store!</h1>
<h6> click shop to see whats in store </h6>
{% endblock %}